.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Setting the font airbus */
@font-face {
    font-family: Airbus;
    src: url('../fonts/aispec.ttf');
    font-size: 14px;
}

/* Space out content a bit */
body {
    padding-top: 120px;
    padding-bottom: 20px;
    font-family: Airbus;
}

.app-view{
    animation: fadeIn 0.8s;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page footer */
footer {

}

@media (max-width: 34em) {
    .bd-navbar .nav-item {
        float: none;
    }

    .navbar-nav .nav-item + .nav-item {
        margin-left: 0rem;
        float: none;
    }
}

/* Personnal code */

/* Header */
.navbar{
    margin-bottom: 10px;
    background-color: #3560a5;
    color: #fff;
    border-bottom: 5px solid #274982;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-navbar{
    max-width: 100%;
    height: 80px;
}
.header-left{
    min-width: 160px
}
.header-title{
    font-size: 3.5rem;
    height: 40px;
    margin: auto;
}
.header-right{
    min-width: 160px
}
.text-navbar{
    color: #3560a5;
    margin: 0 10px;
}

/* Home */
.container-tiles{
    width:100%;
    margin: 50px auto;
    border-radius: 5px;
    overflow:hidden;
    padding:10px;
    background-color: #eee;
}
.tile-layout{
    padding: 10px;
    overflow:hidden;
}
.tile {
    padding:10px;
    background-color:#fff;
    box-shadow: 0px 0px 7px #5a5a5a;
}
.err-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.err-text {
    margin: 0 30px;
    width: 40px;
    text-overflow: ellipsis;
}
.app-text-tile{
    min-width: 200px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    padding-top: 10px;
}
.bubbles{
    display:flex;
    justify-content: space-between;
}
.button-link-tile{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 24px;
    min-width: 200px;
    max-width: 200px;
}
.bubble {
    margin: 0 30px;
    border-radius: 20px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    border: 4px solid #ccc;
}
.bubble:hover{
    border: 4px solid #0275d8;
    cursor:pointer
}
.red{
    background-color: #d24;
}
.amber{
    background-color: #d6af55;
}
.green{
    background-color: #5fc75f;
}
.inner-tile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.inner-tile-container .fa{
    padding: 5px;
    padding-top: 10px;
    text-decoration: none;
}
.inner-tile-container a{
    color:inherit;
}

/* Monitoring view */
.table-monitoring{
    width: 90%;
    margin:50px auto;
}
.table-row-monitoring td,th{
    padding:10px;
}
.table-row-even{
    background-color: #eee;
}
.table-row-odd{
    background-color: #ddd;
}
